/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Cover */
.cover {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, .3), rgba(255, 255, 255, .4), rgba(255, 255, 255, .4), rgba(255, 255, 255, .3), rgba(255, 255, 255, 0.1)), url(/img/cover.jpg) no-repeat center center scroll;
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
}

.cover h1, .cover h2 {
    font-family: 'Permanent Marker', sans-serif;
    text-shadow: 0 0 4px grey;
}

.cover h1 {
    font-size: 6em;
}

.cover h2 {
    font-size: 3em;
}

.cover h3, .cover h4 {
    font-family: 'Patua One', sans-serif;
}

.cover h3 {
    font-size: 2em;
}

.cover h4 {
    font-size: 1.5rem;
}

.cover h4 a {
    color: black;
    text-decoration: none;
}

.cover h4 a:hover {
    text-decoration: underline;
}

.img-circle {
    border-radius: 50%;
}

.btn-circle {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 100% !important;
    font-size: 50px;
    color: black;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: grey;
    border: 2px solid white;
    background: rgba(0, 0, 0, 1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.page-start {
    margin-top: 6em;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Header */

.navbar-brand {
    font-size: 2rem;
    font-family: 'Modak', sans-serif;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.11rem;
}

/* Resume */
#resume a {
    color: black;
}

#resume h2 {
    text-decoration: underline;
    padding-bottom: 5px;
}

#resume .resumeItem h3 {
    padding-bottom: 5px;
}

#resume .date {
    font-size: 100%;
    font-weight: bold;
}

#resume .topBorder {
    border-top: 5px groove;
    margin-top: 10px;
    padding-top: 15px;
}

#contact_form .company {
    display: none;
}

/* Footer */

footer {
    padding-top: 1.5em;
}

/* Line Space */
.space {
    display: table;
    width: 100%;
    height: 5px;
}
